/* Header */
header {
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  position: relative;
  border-bottom: 2px solid #e3e3e3;
}

.navbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2.5rem;
}

.avatar-dropdown {
  margin-left: 5rem;
  cursor: pointer;
  display: flex;
}

#user_avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-image: url("/icons/user_avatar.png");
  background-size: cover;
}

.dropdown__container {
  background-color: white;
  border-radius: 10px;
  width: 223px;
  height: 206px;
  position: absolute;
  top: 90px;
  right: 10px;
  padding: 15px 27px;
}

.dropdown__container #username {
  font-weight: 600;
  color: #000;
  font-size: 10px;
  line-height: 28px;
}

.dropdown__container ul {
  list-style: none;
}
.dropdown__container ul li {
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  cursor: pointer;
}

/* ------------- */
/* Sidebar */
.sidebar {
  background-color: var(--cl-primary);
  position: fixed;
  width: 177px;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding-left: 0.75rem; */
}

.sidebar__options__wrapper {
  /* border: 1px solid yellow; */
  margin-top: 8rem;
  padding-left: 0.75rem;
}

.sidebar__options__item {
  color: #fff;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 2.5rem;
  /* border: 1px solid red; */
  position: relative;
  font-size: 12px;
  padding-left: 1rem;
}

.sidebar__options__item img {
}

.sidebar__options__item.active {
  background-color: #fff;
  color: var(--cl-primary);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.sidebar__options__item.active::after {
  content: "";
  position: absolute;
  right: 0px;
  width: 14px;
  height: 10px;
  top: -10px;
  background-image: url("icons/Vector-6.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar__options__item.active::before {
  content: "";
  position: absolute;
  right: 0px;
  width: 14px;
  height: 10px;
  bottom: -10px;
  background-image: url("icons/Vector-7.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Sidebar Settings */

.sidebar__settings__wrapper {
  border-top: 2px solid #9eb9ff;
  border-bottom: 2px solid #9eb9ff;
  padding: 2.5rem 0 2.5rem 0.5rem;
  margin-right: 1.3rem;
  margin-left: 0.75rem;
}

.sidebar__settings__wrapper ul {
  list-style: none;
}

.sidebar__settings__wrapper ul li {
  color: white;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.sidebar__settings__wrapper ul li:nth-last-child(1) {
  margin-bottom: 0;
}

.theme-switch__wrapper {
  background-color: transparent;
  margin: 3rem auto;
  width: 52px;
  height: 25px;
  border: 1px solid #dbe9fd;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  cursor: pointer;
}

/* Section */

.section-container {
  padding-left: 177px;
}

.top__section {
  border-bottom: 1px solid #ededed;
  padding-left: 120px;
  padding-right: 1.5rem;
  height: 115px;
  max-width: 1133px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 14px;
}

.top__section__toolbar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.lang__dropdown {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 4px 17px;
  cursor: pointer;
  border-radius: 4px;
}

.lang__dropdown:hover {
  background-color: #ededed;
}

.editor__container {
  margin-top: 1rem;
  margin-left: 4rem;
  max-width: 900px;
  position: relative;
}

.editor__count__box {
  position: absolute;
  right: -2rem;
  bottom: -0.5rem;
  background-color: #fff;
  padding: 0.5rem 1.25rem;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}

@media (max-width: 1182px) {
  .editor__count__box {
    right: 1rem;
  }
}

.logo-icon {
  position: absolute;
  right: 4rem;
  bottom: 4rem;
}
