:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --cl-primary: #2D62ED;
  --bg: #CDCDCD;
}

body {
  background-color: var(--bg);
}



