:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --cl-primary: #2d62ed;
  --cl-secondary: #dfdfdf;
  /* --bg: #cdcdcd; */
  --bg: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont.ttf");
}

body {
  font-family: "Inter";
  background-color: var(--bg);
  font-size: 16px;
}

.btn {
  border: none;
  border-radius: 6px;
  font-weight: 500;
  padding: 4px 20px;
  font-size: 14px;
  line-height: 28px;
  cursor: pointer;
  font-family: "Inter";
}

.btn-primary {
  background-color: var(--cl-primary);
  color: #ffffff;
  font-weight: 600;
}

.btn-secondary {
  border: 1px solid var(--cl-secondary);
  background-color: #ffffff;
  color: #4b4b4b;
  border-radius: 0.5rem;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.btn-tool {
  background: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #606060;
  border: none;
  padding: 4px 17px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-tool span {
  font-size: 12px;
  line-height: 28px;
}

.btn-tool:hover {
  background-color: #ededed;
  color: var(--cl-primary);
}

.text-sm {
  font-size: 12px;
  line-height: 28px;
  color: #606060;
}

/* Overwrite Quill's default styles */
.quill {
  display: flex;
  flex-direction: column-reverse;
  height: calc(100vh - 20rem);
}

.ql-toolbar.ql-snow {
  border: none;
  border-top: 1px solid #ededed;
  padding-top: 1.5rem;
}

.ql-container.ql-snow {
  border: none;
}

.ql-container {
  font-family: "Inter";
}